/* Белый цвет - #FFFFFF;
Синий цвет акцента -  #4985FF;
Тёмный цвет тайтлов - #323232;
Чёрный цвет мини тайтлов - #000000;
Серый цвет текстов - #999999;*/

:root {
    --bcg-main: #FFFFFF;
    --main-title-light: #FFFFFF;
    --color-nav:  #FFFFFF;

    --bcg-secondary: #F6F6F8;

    --accent-color: #4985FF;

    --main-title-dark:  #323232;

    --undertitled: #000000;

    --color-text: #999999;
}
body {
    background-color: var( #FFFFFF);
    font-family: Montserrat;
    font-weight: 400;
    color:var(--color-text);
    font-size: 16px;
    line-height: 1.563;
}
h1,h2,h3,h4,p {
    margin: 0;
}
img {
    display: block;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1144px;
    padding: 0 15px;
}

.hero-button {
    margin: 0 auto;
}
.button {
    width: 200px;
    height: 45px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: var(--main-title-light);
    background-color: var(--accent-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color:var(--accent-color);
}
/* HEADER */
.header {
    position: absolute;
    width: 100%;
    z-index: 5;

    border: 1px solid rgba(161, 161, 161, .5)
}
.header__nav-list {
    display: flex;
}
.header__nav {
    width: 583px;
    margin-left: auto;
}
.header__nav-item:not(:last-child) {
    margin-right: 40px;
}

.header__nav-link {
    display:flex;

    padding-top: 40px;
    padding-bottom: 40px;

    border-bottom: 2px solid transparent;


    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;

    color:var(--color-nav);
}

.header__nav-link:hover,
.header__nav-link:focus {
    border-bottom: 2px solid var(--color-nav);
}

/* HERO */

.hero {
    background-color:#696969;

    background-image: linear-gradient(
        0deg, 
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)),
        url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.hero > .container {
    padding-top: 220px;
    padding-bottom: 335px;
}
.hero-text {
    margin-bottom: 20px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color:var(--color-nav);
}
.hero-button {
    padding: 15px 36px;
}
.hero-title {
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

    font-weight: 800;
    font-size: 48px;
    line-height:1.333;
    text-align: center;
    color:var(--color-nav);
}

/* SECTION MOBILE APP */

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.472;
    text-align: center;
    color:var(--main-title-dark);
}
.mobile .container {
    padding-top: 110px;
    padding-bottom: 105px;
}
.mobile-text {
    text-align: center;
    margin-bottom: 70px;
    max-width: 730px;
    margin-left:auto;
    margin-right: auto;
}
.mobile-title {
    margin-bottom: 50px;
    max-width: 739px;
    margin-left:auto;
    margin-right: auto;
}
.mobile-list {
    display: flex;
    justify-content: space-around; 
    margin-bottom: 55px;
}
.mobile-item {
    display: flex;
}
.icon-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height:40px;
    fill:var(--accent-color);
}

.item-icon-in {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border: 1px solid #4985FF;
    border-radius: 50%;
}
.item-icon-out {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    border: 1px solid #E0E0E0;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 17px;
}
.mobile-item-dskrpt {
    margin-top: 48px;
}
.mobile-item-title {
    margin-bottom: 12px;

    font-weight: 600;
    font-size: 18px;
    line-height: 1.222;
    color:var(--undertitled);
}
.mobile-item-text{
    max-width: 222px;
    font-size: 14px;
    line-height: 1.571;
}
.mobile-button {
    margin: 0 auto;
}

/* SECTION STANDARTS */

.standarts {
    background-color:var(--bcg-secondary);
}
.standarts-title {
    width: 424px;
    text-align: left;
    margin-bottom: 40px;
}
.standarts .container {
    padding-top: 100px;
    padding-bottom: 70px;
}
.standarts-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.standarts-list::before {
    content: "";
    display: block;
    width: 1110px;
    height: 0px;
    margin-bottom: 70px;
   
    border-bottom: 1px solid #E0E0E0;
}

.standarts-list-item:not(:last-child){
    margin-right: 100px;
}
.item-icon {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.web-icon {
    fill: var(--accent-color);
}
.standarts-text {
    width: 489px;
    margin-bottom: 30px;
    margin-right: 121px;
}
.small-container {
    display: flex;
    align-items: center;
    margin-bottom: 90px;
}

.item-head {
    font-size: 36px;
    line-height: 1.472;
    color:var(--undertitled);
}

/* SECTION SERVICES */
.services {
    background-image: linear-gradient(to bottom, #5F12D0 50%, #ffffff 50%, #ffffff 100%);
}
.services .container {
    padding-top: 100px;
    padding-bottom: 85px;
}
.container-top {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.services-title {
    max-width: 540px;
    text-align: left;
    color:var(--main-title-light);
}
.services-list {
    display:flex;
    flex-wrap: wrap;
}
.services-item {
    max-width: 350px;
}
.services-list::after {
    content: "";
    display: block;
    width: 1110px;
    height: 0px;
    margin-top: 85px;
   
    border-bottom: 1px solid #E0E0E0;
}
.services-item:not(:last-child) {
    margin-right: 30px;
}
.services-item-img {
    margin-bottom: 30px;
}
.services-item-title {
    margin-bottom: 30px;

    font-weight: 600;
    font-size: 18px;
    line-height: 1.222;
    color: var(--undertitled);
}
.services-item-text {
    margin-bottom: 30px;
}
.element {
    color: var(--accent-color); 
}

/* SECTION PROJECTS */
.projects {
    background-color: var(--bcg-secondary);
}
.projects .container {
    padding-top: 100px;
    padding-bottom: 130px;
}
.projects-title {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.projects-text {
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 70px;
}
.projects-list {
    display: flex;
    margin-bottom: 50px;
}
.projects-item:not(:last-child){
    margin-right: 30px;
}
.projects-link {
    margin-left: auto;
    margin-right: auto;
}

/* SECTION VIDEO */

.video {
    
    background-color: teal;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)),
    url('../images/bg_secondary.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.video .container {
    padding-top: 70px;
    padding-bottom: 420px;
}
.video-title {
    margin-bottom: 30px;

    color: var(--main-title-light);
}
.video-text {
    text-align: center;
    color: white;
}

/* SECTION SUBSCRIBE */

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
}
.subscribe {
    text-align: center;
}  
.subscribe .container {
    padding-top: 85px;
    padding-bottom: 85px;
}
.subscribe-action {
    display: inline-block;
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 18px;
    line-height: 1.222;
    color: var(--undertitled);
}
.subscribe-text {
    margin-bottom: 30px;
}
.subscribe-form {
    margin-bottom: 35px;
}
.subscribe-input {
    width: 489px;
    height: 45px;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
}
.subscribe-button {
    width: 190px;
    height: 45px;
    background:var(--accent-color);
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 0px 30px 30px 0px;
    font-weight: 500;
    font-size: 16px;
    line-height:1.25;
    text-align: center;
    color: #FFFFFF;
}
.subscribe-underform {
    font-size: 13px;
    line-height: 1.615;
}

/* FOOTER */

.footer {
    background-color:var(--bcg-secondary);
}
.footer .container {
    padding-top: 70px;
    padding-bottom: 30px;
}
.footer-list {
    display:flex;
    justify-content: center;
    margin-bottom: 100px;
}
.footer-list-item:not(:last-child) {
    margin-right: 43px;

}
.footer-item-head {
    display: inline-block;
    margin-bottom: 35px;

    font-weight: 600;
    font-size: 18px;
    line-height: 1.222;
    color:var(--undertitled);
}

.footer-sublist-link:hover,
.footer-sublist-link:focus {
    color: var(--accent-color);
    cursor: pointer;
}
.footer-sublist-link:hover .footer-item-icon,
.footer-sublist-link:focus .footer-item-icon {
    fill: var(--accent-color);
}
.footer-sublist-item {
    font-style: normal;
    font-size: 14px;
    line-height: 1.571;
}
.footer-sublist-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color:var(--color-text);
}
.footer-item-icon {
    fill: var(--color-text);
    margin-right: 15px;
}
.footer-sublist-link:hover,
.footer-sublist-link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
}
.footer-sublist-link::before {
    content:"";
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background-image: url('../images/Vector.svg');
    background-repeat: no-repeat;
}

.footer-sublist-item:not(:last-child) {
    margin-bottom: 30px;
}
.footer-text {
    font-size: 13px;
    line-height: 1.615;
    text-align: center;
}