:root {
  --primary-title-color: #323232;
  --primary-text-color: #999999;
  --main-bg-color: #4985ff;
  --accent-color: #4985ff;
  --white-color: #ffffff;
}
h1,
h2,
h3,
p {
  margin: 0;
}
body {
  font-family: Montserrat, sans-serif;
  font-style: normal;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
header {
  position: absolute;
  width: 100%;
  z-index: 99;
  border-bottom: 1px solid rgba(161, 161, 161, 0.5);
}
.current {
  position: relative;
}
.current::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  left: 0;
  bottom: 0;
}
.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header__nav-list {
  display: flex;
  justify-content: flex-end;
}

/* .header__nav-item:not(:last-child) {
  margin-right: 40px;
} */
.header__nav-link {
  /* padding-bottom: 40px;
  padding-top: 40px; */
  display: inline-block;
  padding: 40px 20px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white-color);
  text-decoration: none;
}
.hero-text {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;

  text-align: center;

  color: var(--white-color);
}
.hero {
  padding-top: 319px;
  padding-bottom: 335px;
  background-color: #caabab;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(../images/rectangle.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-title {
  margin: 0 auto 50px;
  width: 829px;
  font-weight: 800;
  font-size: 48px;
  line-height: 1.333;
  text-align: center;
  color: var(--white-color);
}
.button {
  width: 200px;
  height: 45px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--white-color);
  background-color: var(--main-bg-color);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-button {
  margin: 0 auto;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
}

.mobile {
  padding-top: 110px;
  padding-bottom: 105px;
}

.mobile-list {
  display: flex;
  margin-bottom: 55px;
  justify-content: space-between;
}
.mobile-title {
  width: 739px;
  margin: 0 auto 50px;
  color: var(--primary-title-color);
  text-align: center;
}

.mobile-item {
  width: 353px;
}

.typical-text {
  font-weight: 400;
  line-height: 1.56;
  color: var(--primary-text-color);
}

.mobile-text {
  font-size: 16px;
  width: 730px;
  margin: 0 auto 70px;

  text-align: center;
}

.mobile-item {
  display: flex;
  justify-content: center;

  width: 353px;
}

.mobile-item-title {
  margin-bottom: 12px;
}

.mobile-item-text {
  font-size: 14px;
}

.mobile-button {
  margin: 0 auto;
}
.mobile-item-right {
  margin-top: 48px;
}
/* mobile-list-icon */
.mobile-icon-outer,
.mobile-icon-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
}
.mobile-icon {
  fill: var(--accent-color);
}
.mobile-icon-outer {
  flex-shrink: 0;
  margin-right: 17px;
}
.mobile-icon-inner {
  width: 90px;
  height: 90px;
  border-color: var(--accent-color);
}
.standarts {
  padding-top: 100px;
  padding-bottom: 48px;
  background-color: #f6f6f8;
}

.standarts-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 90px;
  margin-bottom: 70px;

  border-bottom: 1px solid #e0e0e0;
}

.standarts-info {
  width: 489px;
}

.standarts-title {
  margin-bottom: 40px;
  color: var(--primary-title-color);
}

.standarts-text {
  margin-bottom: 30px;
}
/* standarts-icons */
.standarts-icon-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.standarts-icon {
  fill: var(--accent-color);
}
.details {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
}

.standarts-list {
  display: flex;
  justify-content: space-evenly;
}

.standarts-list-item {
  width: 104px;
}

.item-head {
  font-size: 36px;
  line-height: 1.47;
}
.services {
  padding: 100px 0;
  background: linear-gradient(#5f12d0 80%, #5f12d0 80%), #c4c4c4;
  background-size: 50%;
}
.services-title {
  width: 540px;
  color: #cccccc;

  align-items: center;
}
.services-head,
.services-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}
.services-list {
  align-items: flex-start;
}
.services-item {
  width: calc((100% - 60px) / 3);
}

.services-item img,
.services-item-text,
.services-item-title {
  margin-bottom: 30px;
}
.services-item-title span {
  color: #4985ff;
}
